{% extends "base.njk" %}

{% block content %}


  <div class="header">
    <h1>Munich, Germany</h1>
    <a  class="header_menu">
      <i data-bind="click: openDrawer" class="fa fa-bars"></i>
    </a>
  </div>

  <div class="map_wrapper">
    
    <div data-bind="css: { open: toggleDrawer() == true }" class="list_menu">

          <span>List of Attractions:</span>
          <form>
            <input placeholder="Search..." data-bind="textInput: userFilter, event: {keyup: runAttractionFilter}">
          </form>
          <ul <input data-bind="foreach: filteredAttractions">
            <li>
              <span data-bind="text: name"> </span>
            </li>
          </ul>

          <span>Favourites:</span>
          <p>Right click to add</p>
          <ul <input data-bind="foreach: favAttractions">
            <li>
              <span data-bind="text: name"> </span>
            </li>
          </ul>
    </div>
      
    <div class="map" id="js_map"></div>

  </div>

  <div class="errorMsg">
    <div id="js_foursquareError"></div>
  </div>

{% include "partials/footer.njk" %}

{% endblock content %}
