{% extends "base.njk" %}

{% block content %}


  <header class="header">
    <h1 class="header-title">Neighbourhood Map: Munich</h1>
    <a  class="header-menu">
      <i data-bind="click: openDrawer" class="fa fa-bars"></i>
    </a>
  </header>

  <main class="map-wrapper">
    
    <div data-bind="css: { open: toggleDrawer() == true }" class="list-menu">

          <span class="list-title" >List of Attractions:</span>
          <form>
            <input placeholder="Search..." data-bind="textInput: userFilter, event: {keyup: runAttractionFilter}">
          </form>
          <ul data-bind="foreach: filteredAttractions">
            <li data-bind="click: $parent.displayInfo" class="list-hover">
              <span data-bind="text: name"> </span>
            </li>
          </ul>

          <span class="list-title">Favourites:</span>
          <p class="add-fav-instructions" >(Right click location marker to add/remove)</p>
          <ul data-bind="foreach: favAttractions">
            <li data-bind="click: $parent.displayInfo" class="list-hover">
              <span data-bind="text: name"> </span>
            </li>
          </ul>
    </div>
      
    <div class="map" id="js_map"></div>

  </main>

  <section class="error-message">
    <div id="js_foursquare-error"></div>
  </section>

{% include "partials/footer.njk" %}

{% endblock content %}
