
<!-- Footer section start -->
<footer class="footer-wrapper">
        <p class="footer-text">Built with ♥ by <a href="https://samatkins.me/" target="_blank">Sam</a>. View source <a href="https://github.com/cubiio/fsnd-neighbourhood-map" target="_blank">code</a>. © 2017 Sam Atkins</p>
</footer>
<!-- Footer section end -->