
<!-- Footer section start -->
<div class="footer_wrapper">
    <div class="footer_container">
        <p class="footer_text">Built with ♥ by <a href="https://samatkins.me/" target="_blank">Sam</a>. View source <a href="https://github.com/cubiio/fsnd-neighbourhood-map" target="_blank">code</a>. © 2017 Sam Atkins</p>
    </div>
</div>
<!-- Footer section end -->