<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neighbour Map: Munich, Germany</title>
    
    <!-- build:css css/styles.min.css -->
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
    <!-- endbuild -->

    <!-- build:js js/async.modernizr-2.8.3.min.js -->
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    <!-- endbuild -->
    <script src="https://use.fontawesome.com/3e19548892.js"></script>
</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    {% block content %}
        
    {% endblock content %}

    <!-- build:js js/main.concat.js -->
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="js/vendor/plugins.js"></script>
        <script type='text/javascript' src='js/lib/knockout-3.4.1.js'></script>
        <script src="js/main.js"></script>
    <!-- endbuild -->

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMz_dtQTIrkczSEPgNogsdNZMI9GaWHmI&callback=initApp">
    </script>

</body>
</html>